@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
    font-family: 'Yusei Magic', sans-serif;
    margin: 0;
    padding: 0;
   
 }
  
 h2, h3 {
    color: #ffffff
 }
   
 footer {
    padding: 20px;
    color: white;
    background-color: #9b9e9e;
    text-align: center;
    font-weight: bold;
 }

 nav a:hover {
    font-size: 18px;
    font-weight: 400 bold;
    text-decoration: none;
 }

 .profile header {
    text-align: center;
 }  

 .hedgehog-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
 }
 .profile img, profile-me {
    width: 180px;
    height: 230px;
    
 } .profile img, profile-me {
    width: 180px;
    height: 230px;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color:#9b9e9e;
 }

 .form {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 20px;
      margin-top: 80px;
      background-color:#9b9e9e;
 }

 .button {
    width: 70px;
 }

 .button:hover {
    background-color: blue;
    color: white;
    width: 100px;
 }

 .hedgehog-card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color:#9b9e9e;
}
 .my-jumbotron {
    padding: 20px;
    color: white;
    font-size: 20px; 
    background-color: #9b9e9e;
    text-align: center;
    
 }

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }

 nav {
    background-color: #3d3d3c;
    padding: 2px;
    position: sticky;
    top: 0;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }

 nav a:hover, nav a:active{
    background-color: #fff;
    color: #333;
 }

 nav a#pull {
   display: none;
 }

 main {
    padding: 20px;
    overflow: auto;
 }

 #content {
    float: left;
    width: 75%;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 10px;
 }

 * {
    box-sizing: border-box;
 }



 header {
    display: inline;
 }

 .slider{
   width: 95%;
   /*height: 700px;*/
   border-radius: 10px;
   overflow: hidden;
   box-sizing: border-box;
   margin: auto;
}

.slides{
   width: 700%;
   max-height: 700px;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 20%;
   transition: 2s;
}

.slide img {
   width: 90%;
   max-height: 700px;
   object-fit: cover;
   object-position: center
}

.navigation-manual{
   position: absolute;
   width: 800px;
   margin-top: -80px;
   display: flex;
   justify-content: center;
   display: none;
   
}

.manual-btn{
   border: 2px solid #9b9e9e;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
   display: none;
   
}

.manual-btn:not(:last-child){
   margin-right: 40px;
   display: none;
   
}

.manual-btn:hover{
   background:  #3d3d3c;
   
}

#radio1:checked ~ .first{
   margin-left: 0;

}

#radio2:checked ~ .first{
   margin-left: -20%;
   
}

#radio3:checked ~ .first{
   margin-left: -40%;
  
}

#radio4:checked ~ .first{
   margin-left: -60%;
   
}

.navigation-auto{
   position: absolute;
   display: flex;
   width: 800px;
   justify-content: center;
   margin-top: 460px;
   display: none;
   
}

.navigation-auto div{
   border: 2px solid #3d3d3c;
   padding: 5px;
   border-radius: 10px;
   transition: 1s;
   
}

.navigation-auto div:not(:last-child){
   margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
   background: #3d3d3c;
   
}

#radio2:checked ~ .navigation-auto .auto-btn2{
   background: #3d3d3c;
   
}

#radio3:checked ~ .navigation-auto .auto-btn3{
   background: #3d3d3c;
   
}

#radio4:checked ~ .navigation-auto .auto-btn4{
   background:#3d3d3c;
   
}